
		/* <!-- 1 --> */
		/* #judul{
			color: red;
			margin: 50px;
		} */

		/* <!-- 2 --> */
		h3 {
			color: brown;
			text-align: center;
		}
		#judul{
			margin: 10px;
		}
		.class1{
			background-color: aqua;
		}
		.save-siswa{

		}